/*
Template: Vizion-Al/ML-Data Analysis Responsive HTML5 Template
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in
*/

/*================================================
[  Table of contents  ]
================================================
1  Header
2  Banner
3  Frequently Asked Questions
4  Team
5  Pricing
6  Blog
7  Clients
8  Footer
9  Breadcrumbs
10 Tab
11 login 
12 Contact page
13 Blog Detail
14 Testimonials
15 Coming Soon
16 Cookie

/*---------------------------------------------------------------------
1 header
-----------------------------------------------------------------------*/
header { position: absolute; display: inline-block; width: 100%; padding: 15px 0; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
header a.navbar-brand img { height: 40px; }
header .navbar-light { padding: 0; }
header .navbar-light .navbar-nav .nav-link, header .navbar-light .navbar-nav .nav-link:focus { color: #ffffff; font-size: 17px; margin-right: 15px; padding: 5px 30px; border-radius: 90px; }
.navbar-light .navbar-nav .show>.nav-link { color: #ffffff; }
header .navbar-light .navbar-nav li.active .nav-link, header .navbar-light .navbar-nav li .nav-link:hover { background: #ffffff; color: #00AB84; }
.dropdown-item:active, .dropdown-item:hover { background: #ffffff; color: #00AB84; }
header { position: absolute; width: 100%; z-index: 99; }
/* Header sticky */
header.menu-sticky { background: #ffffff; padding: 12px 0; -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); position: fixed; z-index: 99; }
header.menu-sticky .container-fluid { padding: 0px 50px; }
header.menu-sticky .navbar.navbar-light .navbar-brand img { height: 40px; }
header.menu-sticky .navbar-light .navbar-nav li.active .nav-link, header.menu-sticky .navbar-light .navbar-nav li .nav-link:hover { background: #00AB84; color: #ffffff; }
header.menu-sticky .navbar-light .navbar-nav .nav-link, header.menu-sticky .navbar-light .navbar-nav .nav-link:focus { color: #000000; }

/* logo change */
header a.navbar-brand .logo-white { display: none; }
header.menu-sticky a.navbar-brand .logo { display: none; }
header.menu-sticky a.navbar-brand .logo-white { opacity: 1; display: block; }
header .navbar-toggler:not(:disabled):not(.disabled) { background: #ffffff; }


/*dropdown-item*/
.dropdown-item.active, .dropdown-item:active { color: #00AB84; background-color: transparent; }

/*---------------------------------------------------------------------
2 Banner
-----------------------------------------------------------------------*/
.banner { padding: 150px 0 65px 0; position: relative; }
.banner-after { content: ""; bottom: -1px; left: 0; width: 100%; height: 230px; background-size: cover; display: inline-block; position: absolute; }
.button-banner { color: #ffffff; cursor: pointer; padding: 10px 40px; text-transform: uppercase; font-weight: 600; font-size: 16px; border: 2px solid #00AB84; position: relative; font-family: 'Josefin Sans', sans-serif; display: inline-block; -webkit-border-radius: 90px; -moz-border-radius: 90px; border-radius: 90px; -webkit-box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, 0.15); -moz-box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, 0.15); box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, 0.15); }
.button-banner:hover, .button-banner:focus { background-color: #ffffff; }
.banner-round { position: absolute; top: -19%; }
.banner-person { position: relative; z-index: 9;overflow-y: hidden; }
.banner .banner-text { padding-top: 15%; }


/*---------------------------------------------------------------------
List Style
-----------------------------------------------------------------------*/
.list-style li { margin: 0 0 15px; padding: 0; list-style: none; font-size: 16px; }
.list-style li:last-child { margin-bottom: 0; }
.list-style li i { margin-right: 10px; font-size: 22px; }
.easy-btn { padding: 10px 70px; }  

/*---------------------------------------------------------------------
3 Frequently Asked Questions
-----------------------------------------------------------------------*/
.iq-asked { position: relative; margin-bottom: 30px; overflow: hidden; }
.iq-accordion { z-index: 9; position: relative; }
.iq-accordion .ad-title { position: relative; padding: 20px 50px 20px 20px; font-size: 16px; line-height: normal; cursor: pointer; background-color: #4122be; display: block; text-align: left; color: #ffffff; font-weight: 600; text-decoration: none; border-radius: 4px; }
.iq-accordion .ad-title:before { -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06); -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06); box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06); cursor: pointer; content: "\f3d0"; font-family: "Ionicons"; position: absolute; top: 0; right: 0; display: block; padding: 14px 20px; color: #ffffff; font-size: 16px; line-height: 24px; height: 100%; font-weight: normal; -webkit-transition: all 0.25s ease-in-out 0s; -moz-transition: all 0.25s ease-in-out 0s; transition: all 0.25s ease-in-out 0s; background: #4122be; }
.iq-accordion .ad-active .ad-title:before { content: "\f3d8"; font-family: "Ionicons"; }
.iq-accordion .ad-details { display: none; overflow: hidden; text-align: left; padding: 15px 15px; color: #ffffff; line-height: 28px; background: #4927d6; border: 1px solid #4927d6; border-top: none; }
.iq-accordion .ad-details p { margin-bottom: 0; }
.iq-accordion .iq-ad-block { margin-bottom: 16px; }
.iq-accordion .iq-ad-block:last-child { margin-bottom: 0; }
.iq-frequently { padding: 60px 140px 40px 100px; }
.iq-asked-img { background: #f7699f; height: 100%; padding: 50px; }
.iq-asked-img:before { content: ""; background: #f7699f; bottom: -39px; left: 0; display: inline-block; width: 114%; height: 40px; position: absolute; z-index: 9; margin-left: -39px; }
.iq-asked-img:after { content: ""; background: #f7699f; left: -39px; display: inline-block; width: 39px; height: 100%; position: absolute; top: 0; z-index: 9; }
.iq-asked-img img{    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}
/*---------------------------------------------------------------------
video
-----------------------------------------------------------------------*/
.iq-video{display: inline-block; width: 60px; height: 60px; text-align: center; font-size: 29px; color: #00AB84; float: left; border-radius: 100%; line-height: 62px; z-index: 9; position: relative; }
.iq-video i{ margin-left: 5px;color: #ffffff; }
.play-video { position: absolute; z-index: 9; top: 40px; border: 2px dashed #ffffff; border-radius: 100%; left: 0; }

/*---------------------------------------------------------------------
4 Team
-----------------------------------------------------------------------*/
.iq-team:hover .iq-team-info { bottom: 0; }
.iq-team { position: relative; overflow: hidden; }
.iq-team .iq-team-info { padding: 10px 20px; background: none; position: absolute; bottom: -84px; background: #f2f2f2; left: 0; display: inline-block; width: 100%; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; border: 1px solid #f2f2f2 }
.iq-team .iq-team-info span { font-family: 'Josefin Sans', sans-serif; font-weight: 600; }
.iq-team .share { background: none; position: absolute; left: -65px; top: 12px; width: 40px; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.iq-team:hover .share { left: 15px; }
.iq-team .share ul li { margin: 5px 0; }
.iq-team .share ul li a { color: #ffffff; width: 45px; height: 45px; line-height: 50px; background: #ffffff; color: #4122be; border-radius: 90px; text-align: center; display: inline-block; }
.iq-team .share ul li a:hover { color: #ffffff; background: #00AB84; }
.iq-team .iq-team-img { position: relative; }
.iq-team .iq-team-img img { width: 100%; }
.iq-team .iq-team-img:before { content: ""; bottom: 0; opacity: 0; left: 0; position: absolute; width: 100%; height: 100%; background: rgba(71, 38, 205, 0); background: -moz-linear-gradient(top, rgba(71, 38, 205, 0) 0%, rgba(71, 38, 205, 1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71, 38, 205, 0)), color-stop(100%, rgba(71, 38, 205, 1))); background: -webkit-linear-gradient(top, rgba(71, 38, 205, 0) 0%, rgba(71, 38, 205, 1) 100%); background: -o-linear-gradient(top, rgba(71, 38, 205, 0) 0%, rgba(71, 38, 205, 1) 100%); background: -ms-linear-gradient(top, rgba(71, 38, 205, 0) 0%, rgba(71, 38, 205, 1) 100%); background: linear-gradient(to bottom, rgba(71, 38, 205, 0) 0%, rgba(71, 38, 205, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4122be', endColorstr='#4122be', GradientType=0); -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
.iq-team:hover .iq-team-img:before { opacity: 1; }
.iq-team .share ul { list-style: none; }

/*---------------------------------------------------------------------
5 Pricing
-----------------------------------------------------------------------*/
.pricing-box { background: #ffffff; padding-bottom: 30px; border: 1px solid #e2e2e2; border-right: none; border-radius: 4px; }
.pricing-box .price { color: #ffffff; display: inline-block; width: 100%; }
.pricing-box .price .currency { font-size: 32px; font-weight: bold; display: inline-block; vertical-align: baseline; margin-right: 5px; }
.pricing-box .price strong { display: inline-block; font-size: 36px; font-weight: bold; margin-top: 20px; }
.pricing-box .price .month { font-size: 14px; font-weight: bold; }
.pricing-box .listing ul li { padding: 10px 0; margin: 0; list-style-type: none; font-family: 'Josefin Sans', sans-serif; font-weight: 600; }
.pricing-box .listing ul li i { font-size: 20px; margin-left: 10px; }
.pricing-box .price-blog { position: relative; }
.pricing-box .price-blog:before { content: ""; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 15px solid #ffffff; position: absolute; z-index: 9; top: 0; left: 50%; margin-left: -10px; }
.pricing-box .pricing-box.active { margin-top: -20px; padding-bottom: 60px; box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1); }
.pricing-box .pricing-box.active .price-head { padding: 20px 0; margin: 0; font-size: 18px; font-weight: 500; color: #4122be; }
.pricing-box .nav-pills { display: block; }
.pricing-box .nav-pills .nav-item { display: inline-block; }
.pricing-box .nav-pills .nav-link { border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-right: 2px; background: #f4f4f4; padding: 10px 25px; font-size: 16px; }
.pricing-box .nav-pills .nav-link.active, .pricing-box .nav-pills .show>.nav-link, .pricing-box .nav-pills .nav-link:hover { background: #4122be; color: #ffffff; -webkit-box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.20); -moz-box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.20); box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.20); }
.iq-pricing .row.no-gutters .col-lg-4.col-sm-12:last-child { border-right: 1px solid #e2e2e2; }
.pricing-box .price-head { font-size: 18px; font-weight: 600;     color: #222222;}
.time-of-year { font-size: 14px; position: relative; text-align: center; width: 200px; -webkit-transform: translateZ(0); /* webkit flicker fix */ -webkit-font-smoothing: antialiased; /* webkit text rendering fix */ }
.time-of-year .tooltip { background: #ffffff; color: #222222; border: 1px solid #d1d1d1; border-radius: 3px; bottom: 35px; font-size: 14px; display: block; left: 50%; opacity: 0; padding: 15px; pointer-events: none; position: absolute; width: 320px; z-index: 1102; -webkit-transform: translateY(10px); -moz-transform: translateY(10px); -ms-transform: translateY(10px); -o-transform: translateY(10px); transform: translateY(10px); -webkit-transition: all .7s ease-out; -moz-transition: all .7s ease-out; -ms-transition: all .7s ease-out; -o-transition: all .7s ease-out; transition: all .7s ease-out; margin-left: -160px; }

/* This is the grey triangle behind the yellow one that makes the border continuous */
.time-of-year .tooltip:before { bottom: -22px; content: " "; display: block; height: 20px; left: 50%; position: absolute; border-color: #a9a9a9 transparent transparent transparent; border-style: solid; border-width: 11px; margin-left: -14px; }

/* Yellow triangle */
.time-of-year .tooltip:after { border-left: solid transparent 10px; border-right: solid transparent 10px; border-top: solid #ffffe0 10px; bottom: -10px; content: " "; height: 0; left: 50%; margin-left: -13px; position: absolute; width: 0; }
.time-of-year:hover .tooltip { opacity: 1; pointer-events: auto; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); color: #222222; }


/*---------------------------------------------------------------------
6 Blog
-----------------------------------------------------------------------*/
.blog-box .content { background: #eeeeee; padding: 30px; position: relative; }
.blog-box .content:after { position: absolute; right: -15px; top: 40px; content: ""; width: 0; height: 0; border-top: 10px solid transparent; border-left: 15px solid #eeeeee; border-bottom: 10px solid transparent; z-index: 9; }
.blog-box .content h3 { line-height: 30px; }
.blog-box .content ul { font-family: 'Josefin Sans', sans-serif; font-size: 14px; font-weight: 400; line-height: 30px; position: relative; z-index: 9; }
.blog-box .content ul li { list-style-type: none; display: inline; padding-right: 8px; border-right: 1px solid #dcdcdc; margin-right: 7px; color: #222222; }
.blog-box .content ul li:last-child { border: none; }
.blog-box .content ul li a { font-weight: normal; color: #666666; }
.blog-box .content ul li a:hover { color: #00AB84; }
.blog-box .content ul li span { font-weight: bold; color: #222222; }
.blog-box .content p { font-size: 14px; line-height: 24px; }
.blog-box ul.iq-tag li { border: none; padding: 0; margin: 0; }
.blog-box ul.iq-tag li a { background: #e2e2e2; color: #666666; padding: 5px 15px; border-radius: 5px; }
.blog-box ul.iq-tag li a:hover { color: #00AB84; }
.blog-box .row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-wrap: wrap; }
.blog-box [class*="col-"] { background-color: #eeeeee; }
.iq-blog .owl-carousel .owl-dots{display: none;}
/*---------------------------------------------------------------------
7 Clients
-----------------------------------------------------------------------*/
.clients-box { padding: 20px 10px; border: 1px solid #ffffff; border-radius: 10px; position: relative; top: 0; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
.clients-box:hover { top: -6px; border: 1px solid #e2e2e2; -webkit-box-shadow: 0px 10px 46px -4px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 10px 46px -4px rgba(0, 0, 0, 0.5); box-shadow: 0px 10px 46px -4px rgba(0, 0, 0, 0.5); }
.iq-clients .owl-carousel .owl-item { padding: 10px 10px 20px 10px; }
.iq-clients .owl-carousel .owl-item img { width: inherit; display: inherit; }

/*---------------------------------------------------------------------
8 Footer
-----------------------------------------------------------------------*/
/*footer-widget*/
footer .iq-contact li { color: #ffffff; margin-bottom: 10px; }
footer .iq-contact i { color: #ffffff; float: left; display: table-cell; width: 30px; line-height: 23px; font-size: 18px; }
footer .iq-contact p { display: table; color: #ffffff; margin-bottom: 0px; padding-left: 5px; }
footer ul li a { color: #ffffff; }
footer ul.menu li a:hover, footer ul.menu li a:focus { color: rgba(255, 255, 255, 0.6); }
footer ul { list-style: none; }
footer .menu li { display: block; border-bottom: 0px; margin-bottom: 14px; line-height: 24px; padding: 0; }
footer ul li { display: inline-block; list-style: none; padding: 0; margin: 0px 5px; }
footer .footer-top .form-control { border-radius: 1.25rem; padding: 20px 28px; background: #00AB84; border: 1px solid #a393e6; color: #ffffff; }
footer .info-share a { display: block; width: 45px; height: 45px; line-height: 45px; font-size: 16px; color: #ffffff; background: rgba(255, 255, 255, 0.1); text-align: center; border: 1px solid transparent; border-radius: 50%; }
footer .info-share a:hover { border: 1px solid #ffffff; background: rgba(255, 255, 255, 1.0); color: #00AB84; }
footer .footer-top .form-control { border-radius: 1.25rem; padding: 20px 28px; background: transparent; border: 1px solid #a393e6; color: #ffffff; height: 45px; }
.footer-top { padding-top: 150px }
.fshap { position: relative; }
.fshap-after { content: ""; top: -1px; left: 0; width: 100%; height: 133px; background-size: cover; display: inline-block; position: absolute; }
.input-group>.form-control { flex: none; width: 57% }
footer .footer-top .logo img { width: 150px; }
footer .link a { color: #ffffff; }
footer .link a:hover { color: rgba(255, 255, 255, 0.6); }
footer .input-group { z-index: 1; }
footer .search-btn { padding: 20px 28px; background: #00AB84; border-radius: 30px; border: 1px solid #a393e6; width: 230px; }
footer .search-btn:focus { background: transparent; box-shadow: none; border: 1px solid #ced4da; }
footer .submit-btn { position: absolute; right: 36px; top: 46px; padding: 7px 40px; }
footer .button:hover, footer .button:focus { background: #ffffff; color: #a393e6; border: 2px solid #00AB84; }
footer::-webkit-input-placeholder, .iq-coming { /* Chrome */ color: #ffffff; }
footer:-ms-input-placeholder, .iq-coming { /* IE 10+ */ color: #ffffff; }
footer::-moz-placeholder, .iq-coming { /* Firefox 19+ */ color: #ffffff; opacity: 1; }
footer:-moz-placeholder, .iq-coming { /* Firefox 4 - 18 */  color: #ffffff; opacity: 1; }




/*---------------------------------------------------------------------
9 Breadcrumb 
---------------------------------------------------------------------*/
.iq-breadcrumb3 { padding: 203px 0 185px 0; position: relative }
.iq-breadcrumb3-after { content: ""; bottom: -2px; left: 0; width: 100%; height: 92px; display: inline-block; position: absolute; margin-bottom: 0; }
.iq-breadcrumb3.text-left .heading-title { text-align: left; }
.iq-breadcrumb3.text-left .heading-title .title:before { left: 0; margin-left: 0; }
.iq-breadcrumb3.text-left .breadcrumb { color: #ffffff; cursor: pointer; padding: 8px 23px; font-weight: 600; font-size: 18px; border: 2px solid #ffffff; position: relative; font-family: 'Josefin Sans', sans-serif; display: inline-block; -webkit-border-radius: 90px; -moz-border-radius: 90px; border-radius: 90px; -webkit-box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, 0.15); -moz-box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, 0.15); box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, 0.15); margin-bottom: 0; }
.iq-breadcrumb3.text-left .breadcrumb li { display: inline-block; }
.iq-breadcrumb3.text-left .breadcrumb li a i { font-size: 18px; margin-right: 6px; }
.iq-breadcrumb3.text-left .breadcrumb li, .iq-breadcrumb3.text-left .breadcrumb li a:hover { color: rgba(255, 255, 255, 0.6); }
.iq-breadcrumb3.text-left .breadcrumb li a, .iq-breadcrumb3.text-left .breadcrumb-item+.breadcrumb-item::before { color: #ffffff; }

/*---------------------------------------------------------------------
10 Tab
---------------------------------------------------------------------*/
.iq-tab .nav-pills { background: #f8f7ff; padding: 8px; border: 1px solid #f2f0ff; border-radius: 900px; }
.iq-tab .nav-item { width: 100%; }
.iq-tab .nav-item a { background: #ffffff; color: #464855; font-size: 16px; font-weight: 600; padding: 15px 10px; margin-bottom: 8px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; position: relative; border: inherit; }
.iq-tab .nav-pills .nav-link { border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-right: 2px; }
.iq-tab .nav-pills .nav-link.active, .iq-tab .nav-pills .show>.nav-link, .iq-tab .nav-pills .nav-link:hover { background: #00AB84; color: #ffffff; -webkit-box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.20); -moz-box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.20); box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.20); }
.iq-tab.horizontal .nav-item { width: 16.66%; text-align: center; }
.iq-tab.horizontal .nav-item a { padding: 8px 10px; margin-bottom: 0; border-radius: 90px; }

/*---------------------------------------------------------------------
11 login 
-----------------------------------------------------------------------*/
.iq-login-regi { padding: 80px 0 80px 0; overflow: hidden; }
.iq-login-regi .iq-login { padding: 30px 30px; background-position: left center; background-attachment: fixed; background-repeat: repeat; border: 2px solid #00AB84; border-radius: 10px; }
.iq-login-regi h5 { font-weight: 600; }
.iq-login-regi h5 i { font-family: FontAwesome; color: #00AB84; }
.iq-login-regi .iq-login span { font-size: 40px; }
.iq-login-regi .iq-login label { color: #222; font-weight: 600; }
.iq-login-regi .iq-login form .form-control { border-radius: 10px; height: 45px; border: 2px solid #dedede; height: 54px; padding: 20px 20px; }
.iq-login-regi .iq-login form .form-control:focus { border-color: inherit; outline: 0; box-shadow: inherit; }
.iq-login-regi .iq-login form .button { margin: 30px 0; width: 100%; }
.iq-login-regi .iq-login .link { color: #222; font-weight: 600; }
.iq-login-regi .iq-media li { display: inline-block; list-style: none; padding: 0; margin: 0 18px 8px 0; }
.iq-login-regi .iq-media li a { display: block; width: 40px; height: 40px; line-height: 40px; font-size: 16px; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; color: #ffffff; }
.iq-login-regi .iq-media li i { font-family: FontAwesome; }
.iq-login-regi .iq-media li a.fb { background: #3d5f9a; }
.iq-login-regi .iq-media li a:hover.fb { background: #547abb; }
.iq-login-regi .iq-media li a.tw { background: #44c0f3; }
.iq-login-regi .iq-media li a:hover.tw { background: #0faef0; }
.iq-login-regi .iq-media li a.gplus { background: #dd4b39; }
.iq-login-regi .iq-media li a:hover.gplus { background: #bd3221; }
.iq-login-regi .iq-media li a.lkd { background: #0077B5; }
.iq-login-regi .iq-media li a:hover.lkd { background: #008fda; }
.iq-login-regi form .form-group { margin-bottom: 25px; }
.iq-login-regi .link a:hover { text-decoration: underline !important; }
.error img { margin-top: 80px; }
.iq-login-regi .iq-login form .email-bg { background-color: #ffff; border: 2px solid #dedede; border-radius: 90px; }
.iq-login-regi .iq-login form .email-bg:focus { border: 2px solid #495057; color: #666666 }

/*---------------------------------------------------------------------
12 contact page
-----------------------------------------------------------------------*/
.iq-contactbox .contact-box { background: #ffffff; }
.iq-contactbox .contact-box input { outline: none !important; width: 100%; height: 52px; border: 2px solid #ced4da; border-radius: 30px; padding: 5px 20px; color: #222222;}
.iq-contactbox .contact-box input:hover, .iq-contactbox .contact-box input:focus, .iq-contactbox .contact-box textarea:focus, .iq-contactbox .contact-box textarea:hover { border: 2px solid #00AB84; }
.iq-contactbox .no-spec { padding: 0; }
.iq-contactbox .contact-bg { border-radius: 10px;padding: 40px 40px; }
.iq-contactbox iframe { height: 330px; }
.iq-contactbox .contact-box textarea { border-radius: 10px; outline: none !important; width: 100%; border: 2px solid #ced4da; padding: 5px 20px; margin-top: 10px;color: #222222; }
.iq-contactbox .contact-box .button { margin-top: 20px; }
.contact-footer { padding: 60px 0 30px; }
.iq-contactbox .iq-contact { position: relative; margin-bottom:  20px; }
.iq-contactbox .iq-contact li { list-style: none; padding: 0; margin: 0px 5px; font-size: 14px;  margin-bottom: 10px; }
.iq-contactbox .iq-contact h5.small-title { margin-bottom: 10px; color: #00AB84; }
.iq-contactbox .iq-contact p { display: table;  margin-bottom: 0px; padding-left: 5px;     font-size: 16px;}
.iq-contactbox .iq-contact i { color: #00AB84; float: left; display: table-cell; width: 30px; line-height: 23px; font-size: 18px; }
.iq-contactbox form { border: none; padding: 30px 0; }
.iq-contactbox h2 { color: #00AB84; margin-bottom: 30px; font-weight: 600; }
.iq-contactbox h3 { font-size: 36px; }
.iq-contactbox p { font-weight: 600; }

/*---------------------------------------------------------------------
13 Blog Detail
-----------------------------------------------------------------------*/
.blogdetailbox .iq-blogbox { margin: 0; }
.blogdetailbox .iq-blogbox .iq-blog-entry .iq-entry-tag span { padding: 10px 10px; color: #ffffff; margin-right: 8px; font-weight: 600; text-transform: capitalize; background-color: #00AB84; border-radius: 5px; }
.blogdetailbox .iq-blogbox .iq-entry-title h5 { margin: 0; font-size: 30px; line-height: 40px; font-weight: 700; }
.blogdetailbox .iq-blogbox .iq-entry-title { margin-top: 30px; }
.blogdetailbox .iq-blogbox .iq-blog-entry .iq-entry-image { overflow: hidden; }
.blogdetailbox .iq-blogbox .iq-blog-entry .iq-entry-image img { width: 100%; }
.blogdetailbox .iq-blogbox .iq-blog-detail { margin-top: 0px; }
.blogdetailbox .iq-blogbox .iq-detail-box .special-text { margin: 50px 0 30px 0; text-align: center; position: relative; }
.blogdetailbox .iq-blogbox .iq-detail-box .special-text i { color: #815ded; font-size: 60px; position: absolute; left: 0; top: -25px; z-index: 9; opacity: 0.2; }
.blogdetailbox .iq-blogbox .iq-detail-box .special-text p { font-size: 21px; line-height: 34px; font-weight: 600; color: #222222; }
.blogdetailbox .iq-post-sidebar .iq-sidebar-widget .iq-widget-search .form-control:focus { border-color: #00AB84; }

/*comment form for reply*/
.iq-blogbox .blog-box ul li { list-style-type: none; font-size: 14px; color: #999999; display: inline; border-right: 1px solid #999999; padding-right: 15px; }
.iq-blogbox .blog-box ul li:last-child { border: none; }
.iq-blogbox .blog-box ul li a { text-decoration: none; color: #6163cc; }
.iq-blogbox .blog-box ul li a:hover { color: #00AB84; }
.blogdetailbox .iq-blog-entry .date small { display: block; font-size: 16px; }
.blogdetailbox .iq-blog-entry .date { padding-top: 16px; color: #ffffff; display: inline-block; text-align: center; border-radius: 100px; width: 80px; height: 80px; font-size: 32px; font-weight: 600; background: #00AB84; }
.blogdetailbox .iq-blog-entry .media-box li { list-style: none; padding: 0; margin: 10px 0px; }
.blogdetailbox .iq-blog-entry .media-box li a { display: inline-block; width: 50px; height: 50px; line-height: 50px; font-size: 16px; color: #00AB84; background: #ffffff; border: 1px solid #e6e6e6; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.blogdetailbox .iq-blog-entry .media-box li a:hover { background: #00AB84; color: #ffffff; }

/*sidebar title*/
.blogdetailbox .iq-sidebar-widget h5 { position: relative; z-index: 9; font-size: 22px; font-weight: 700; }
.blogdetailbox .iq-post-sidebar { height: 100%; }
.blogdetailbox .iq-sidebar-widget { margin-bottom: 40px; padding: 20px 20px; border: 1px solid #ededed; }
.blogdetailbox .iq-sidebar-widget:last-child { margin-bottom: 0; }

/*SideBar - Search*/
.blogdetailbox .iq-sidebar-widget .iq-widget-search { position: relative; margin: 10px 0; }
.blogdetailbox .iq-sidebar-widget .iq-widget-search input { padding-right: 40px; box-shadow: none; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; color: #2c3e50; height: 50px; background: #ffffff; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; }
.blogdetailbox .iq-sidebar-widget .iq-widget-search input:focus { background: #ffffff; }
.blogdetailbox .iq-sidebar-widget .iq-widget-search i { position: absolute; right: 8px; cursor: pointer; padding: 15px 12px; font-size: 24px; }
.blogdetailbox .iq-sidebar-widget .iq-widget-search i:hover { color: #815ded; }

/*about-box*/
.blogdetailbox .iq-sidebar-widget.about-box { border: 1px solid #efefef; padding: 0; }
.blogdetailbox .iq-sidebar-widget.about-box .about-text { padding: 20px 25px; }

/*Tags*/
.blogdetailbox .iq-sidebar-widget ul { width: 100%; padding: 0; margin: 0; }
.blogdetailbox .iq-sidebar-widget ul.iq-tag li a { display: inline-block; color: #222222; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-right: 5px; font-weight: 600; text-decoration: none; font-size: 14px; }
.blogdetailbox .iq-sidebar-widget ul.iq-tag li a:hover { color: #815ded; }

/*popular post*/
.blogdetailbox .iq-sidebar-widget { border: 1px solid #dddddd; padding: 20px 25px; border-radius: 10px; }
.blogdetailbox .iq-sidebar-widget .iq-post { margin-top: 10px; }
.blogdetailbox .iq-sidebar-widget .iq-post li { display: inline-block; font-size: 14px; line-height: 20px; }
.blogdetailbox .iq-sidebar-widget .post-img { display: table; float: left; margin-right: 10px; }
.blogdetailbox .iq-sidebar-widget .post-img img { vertical-align: top; width: 40px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.blogdetailbox .iq-sidebar-widget .post-blog { display: table-cell; }
.blogdetailbox .iq-sidebar-widget .post-blog a { font-weight: 600; color: #1d1e34; text-decoration: none; }
.blogdetailbox .iq-sidebar-widget .post-blog a:hover { color: #815ded; }
.blogdetailbox .iq-sidebar-widget .shop-price del { font-size: 13px; }
.blogdetailbox .iq-sidebar-widget .shop-price strong { font-size: 16px; }

/* Comments Box */
.blogdetailbox .blog-commentbox h3 { position: relative; z-index: 9; font-size: 22px; font-weight: 700; }
.blogdetailbox .blog-commentbox { border: 1px solid #dddddd; padding: 15px; margin-top: 30px; border-radius: 10px; }
.blogdetailbox .blog-commentbox h6 { font-weight: 700; margin-bottom: 5px; }
.blogdetailbox .blog-commentbox .iq-comment-metadata.white a { font-size: 14px; }
.blogdetailbox .blog-commentbox .iq-comment-metadata a { color: #222222; font-size: 14px; text-decoration: none; }
.blogdetailbox .blog-commentbox .iq-comment-metadata a:hover { color: #815ded; }
.blogdetailbox .blog-commentbox .iq-comment-metadata a i { font-size: 20px; position: relative; top: 3px; }
.blogdetailbox .blog-commentbox .iq-comment-metadata.white a:hover { color: #222222; }
.blogdetailbox .iq-comment-list li { margin-top: 0px; margin-bottom: 0; vertical-align: top; padding: 0; position: relative; }
.blogdetailbox .iq-comment-list .iq-comments-media {border-radius:4px; padding: 15px 15px 30px; border: 1px solid #eee; margin-bottom: 20px; }
.blogdetailbox .iq-comment-list .iq-comments-media img { width: 85px; border-radius: 50px; }
.blogdetailbox .iq-comment-list li:last-child .iq-comments-media { border-bottom: none; padding-bottom: 0; }
.blogdetailbox .iq-comment-list ul { list-style-type: none; }
.blogdetailbox .iq-comment-list .btn-black.green { margin: 0; right: 0; top: 15px; position: absolute; padding: 5px 15px; background: none; color: #815ded !important; text-decoration: none; }
.blogdetailbox .iq-comment-list .btn-black.green:hover { color: #222222 !important; }
.blogdetailbox .info-block img { width: 150px; border-radius: 100px; }
.blogdetailbox .info-block { margin: 0 0 30px 0; padding: 30px; }
.blogdetailbox .info-block .media-body h5 { }
.blogdetailbox .info-block .media-body p { font-size: 14px; }
.blogdetailbox .iq-comment-list .iq-comments-media p { font-size: 14px; }
.blogdetailbox .info-block .media-body a { text-decoration: none; }
.blogdetailbox .info-block .media-body a i { font-size: 20px; color: #00AB84; }
.blogdetailbox .iq-comment-list .media-body { position: relative; }

/*---------------------------------------------------------------------
14 Testimonials
-----------------------------------------------------------------------*/
.feedback-box .title { line-height: 42px; border: 3px solid #dddddd; border-radius: 10px; padding: 20px; position: relative; }
.feedback-box .title:before { content: ""; width: 0; height: 0; border-left: 36px solid transparent; border-right: 0 solid transparent; border-top: 36px solid #dddddd; position: absolute; z-index: 9; bottom: -36px; left: 40px; }
.feedback .carousel-control-prev { width: 100px; height: inherit; position: inherit; opacity: inherit; }
.feedback .carousel-control-next { left: 40px !important; }
.feedback .carousel-control-next-icon, .feedback .carousel-control-prev-icon { width: 100px; height: inherit; }
.feedback .name .sub-title { font-weight: 600; margin-bottom: 0; }
.feedback .name p { font-family: 'Josefin Sans', sans-serif; font-size: 14px; }
.feedback .carousel-control-next, .feedback .carousel-control-prev { color: #222222; font-size: 20px; bottom: 24px; top: inherit; left: 0; -ms-flex-align: left; align-items: left; -ms-flex-pack: left; justify-content: left; text-align: left; }
.feedback .counter .timer { font-size: 40px; font-weight: 600; color: #00AB84; }

/*---------------------------------------------------------------------
15 Coming Soon 
---------------------------------------------------------------------*/
.coming-height { height: 800px; vertical-align: middle; }
.iq-coming .big-text { font-size: 60px; text-transform: uppercase; color: #ffffff; line-height: 80px; }
.iq-coming img { width: 140px; }
.iq-coming form .form-control { background: rgba(255, 255, 255, 0.5); border: none; }
.iq-coming form .form-control { color: #ffffff;background: transparent; border: 1px solid #a393e6; height: 45px; padding: 0 15px 0 15px; outline: none !important; box-shadow: inherit; width: 280px; border-radius: 90px 0 0 90px; }
.iq-coming form::-webkit-input-placeholder {    / Chrome / color: #ffffff; }
.iq-coming form:-ms-input-placeholder {    / IE 10+ / color: #ffffff; }
.iq-coming form::-moz-placeholder {    / Firefox 19+ / color: #ffffff; opacity: 1; }
.iq-coming form:-moz-placeholder {    / Firefox 4 - 18 /  color: #ffffff; opacity: 1; }
.iq-coming form .button { box-shadow: inherit; border: none; background: #ffffff; padding: 0 15px; border-radius: 0 90px 90px 0; height: 45px; cursor: pointer; color: #00AB84; }
.iq-coming form .button:hover {color: rgba(74, 42, 206, 0.6);}
.iq-coming .countdown-timer { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom: 20px; max-width: 300px; margin: 50px auto; border-bottom-left-radius: 15px; }
.iq-coming .countdown-timer h5 { font-size: 14px; letter-spacing: 0.5px; text-align: center; padding-top: 10px; text-shadow: none; }
.iq-coming .countdown-timer .timer { padding: 10px; text-align: center; padding-top: 15px; }
.iq-coming .countdown-timer .timer .timer-wrapper { display: inline-block; width: 200px; height: 50px; }
.iq-coming .countdown-timer .timer .timer-wrapper .time { font-size: 80px; font-weight: bold; color: #33333; margin: 0 50px; float: left; }
.iq-coming .countdown-timer .timer .timer-wrapper .text { font-size: 20px; }
.iq-coming #countdown { list-style: none; margin: 20px 0 30px 0; padding: 0; text-align: center; display: inline-block; }
.iq-coming #countdown li { display: inline-block; margin: 0 20px; }
.iq-coming #countdown li span { font-size: 50px; font-weight: 800; line-height: 80px; color: #ffffff; position: relative; }
.iq-coming #countdown li.seperator { font-size: 50px; line-height: 40px; vertical-align: top; margin: 16px 0px; color: #ffffff; }
.iq-coming #countdown li h6 { color: #ffffff; font-size: 20px; padding-right: 30px; }
.iq-coming .particles-bg { position: relative; overflow: hidden; }
.iq-coming .particles-bg #canvas { position: absolute; display: block; color: rgba(255, 255, 255.0.9); }
.iq-coming #countdown li p { font-size: 16px; font-weight: 600; line-height: 24px; color: #ffffff; }
.iq-coming #countdown li span:after { position: absolute; right: -30px; top: 0; content: ":"; font-size: 50px; color: #ffffff; line-height: 50px; }
.iq-coming #countdown li:last-child  span:after { content: none; }

/*---------------------------------------------------------------------
cookie
-----------------------------------------------------------------------*/
#cookie_div { background: #222222; color: #ffffff; position: fixed; bottom: 0; left: 25%; width: 50%; padding: 8px 20px; display: none; z-index: 999; -webkit-box-shadow: -1px -5px 21px 1px rgba(0, 0, 0, 0.12); -moz-box-shadow: -1px -5px 21px 1px rgba(0, 0, 0, 0.12); box-shadow: -1px -5px 21px 1px rgba(0, 0, 0, 0.12); border-radius: 10px; }
#cookie_div .button { float: right; padding: 5px 20px; font-size: 12px; margin-top: 3px; line-height: 16px; font-weight: 800; border-radius: 10px; letter-spacing: 1px; }



