/*
Template: Vizion-Al/ML-Data Analysis Responsive HTML5 Template
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in

*/



/*================================================
[  Table of contents  ]
================================================

1  Google Font
2  Import Css
3  General
5  Text color
6  Title
7  Button
8  Background  color
9  Background overlay color
10 Back to Top
11 Loader
12 Extra class


======================================
[ End table content ]
======================================*/

/*---------------------------------------------------------------------
Google Font
-----------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Open+Sans:300,400,600');

/*---------------------------------------------------------------------
import Css
-----------------------------------------------------------------------*/
@import url("all.min.css");
@import url("owl.carousel.min.css");
@import url("ionicons.min.css");
@import url("chatbot.css");
@import url("wow.css");

/*---------------------------------------------------------------------
General
-----------------------------------------------------------------------*/
*::-moz-selection { background: #00AB84; color: #fff; text-shadow: none; }
::-moz-selection { background: #00AB84; color: #fff; text-shadow: none; }
::selection { background: #00AB84; color: #fff; text-shadow: none; }
body { font-family: 'Open Sans', sans-serif; font-weight: normal; font-style: normal; font-size: 16px; line-height: 2em; color: #666666; }
a { -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
a:focus { text-decoration: none !important; }
a:focus, a:hover { color: #00AB84; text-decoration: none !important; }
a, button { outline: medium none !important; color: #00AB84; }
h1, h2, h3, h4, h5, h6 { font-family: 'Josefin Sans', sans-serif; font-style: normal; font-weight: normal; color: #333333; margin: 0px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
label { font-weight: normal; }
h1 { font-size: 52px; line-height: 1.3em; }
h2 { font-size: 42px; line-height: 1.3em; }
h3 { font-size: 30px; line-height: 1.3em; }
h4 { font-size: 26px; line-height: 1.3em; }
h5 { font-size: 24px; line-height: 1.3em; }
h6 { font-size: 20px; line-height: 1.3em; }
ul { margin: 0px; padding: 0px; }
hr { margin: 0; padding: 0px; border-bottom: 1px solid #cccccc; display: inline-block; width: 100%; border-top: 0px; }


/*---------------------------------------------------------------------
Text color
-----------------------------------------------------------------------*/
.main-color { color: #00AB84; }
.blue-color { color: #00AB84; }
.text-white { color: #ffffff; }
.text-black { color: #333333; }
.text-gray { color: #666666; }


/*---------------------------------------------------------------------
Heading Title
-----------------------------------------------------------------------*/
.title-box { margin-bottom: 75px; text-align: center; }
.title-box .title { margin-bottom: 15px; }
.title-box .sub-title { margin: 0 150px; }

/*----------------------------------------------------------------------
 Buttons
-----------------------------------------------------------------------*/
.button { color: #00AB84; cursor: pointer; padding: 10px 40px; font-weight: 600; font-size: 16px; border: 2px solid #00AB84; position: relative; background: #ffffff; font-family: 'Josefin Sans', sans-serif; display: inline-block; -webkit-border-radius: 90px; -moz-border-radius: 90px; border-radius: 90px; -webkit-box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, 0.15); -moz-box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, 0.15); box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, 0.15); }
.button:hover, .button:focus { color: #ffffff; background: #00AB84; }

/*---------------------------------------------------------------------
Background  color
-----------------------------------------------------------------------*/
.white-bg { background: #ffffff; }
.gray-bg { background: #f3f4fb; }
.main-bg { background: #00AB84; }
.black-bg { background: #333333; }
.dark-bg { background: #222222 }

/*---------------------------------------------------------------------
Background overlay color
-----------------------------------------------------------------------*/

/* Background Gradient Black */
.bg-over-black-10:before { background: rgba(0, 0, 0, 0.1); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-black-20:before { background: rgba(0, 0, 0, 0.2); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-black-30:before { background: rgba(0, 0, 0, 0.3); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-black-40:before { background: rgba(0, 0, 0, 0.4); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-black-50:before { background: rgba(0, 0, 0, 0.5); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-black-60:before { background: rgba(0, 0, 0, 0.6); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-black-70:before { background: rgba(0, 0, 0, 0.7); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-black-80:before { background: rgba(0, 0, 0, 0.8); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-black-90:before { background: rgba(0, 0, 0, 0.9); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }

/* Background Gradient White */
.bg-over-white-10:before { background: rgba(255, 255, 255, 0.1); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-white-20:before { background: rgba(255, 255, 255, 0.2); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-white-30:before { background: rgba(255, 255, 255, 0.3); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-white-40:before { background: rgba(255, 255, 255, 0.4); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-white-50:before { background: rgba(255, 255, 255, 0.5); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-white-60:before { background: rgba(255, 255, 255, 0.6); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-white-70:before { background: rgba(255, 255, 255, 0.7); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-white-80:before { background: rgba(255, 255, 255, 0.8); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-over-white-90:before { background: rgba(255, 255, 255, 0.9); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }

/*---------------------------------------------------------------------
Back to Top
-----------------------------------------------------------------------*/
#back-to-top .top { z-index: 999; position: absolute; margin: 0px; color: #ffffff; bottom: 1%; right: 1%; z-index: 9; font-weight: 600; overflow: hidden; }
#back-to-top .top i { font-size: 28px; vertical-align: middle; }
#back-to-top:hover .top i { top: 0; }
#back-to-top .top:hover { color: rgba(255, 255, 255, 0.6); }

/*---------------------------------------------------------------------
Loader
-----------------------------------------------------------------------*/
#loading { width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #ffffff; z-index: 9999; }
#loading img{width: 150px;}



/*---------------------------------------------------------------------
Extra class
---------------------------------------------------------------------*/
section { background: #ffffff; padding: 100px 0; }


/*----------------
 Row with equal height columns
----------------*/
.row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }



/*************************
   BG - Images
*************************/
.parallax { background-size: cover !important; -webkit-background-size: cover !important; -moz-background-size: cover !important; -ms-background-size: cover !important; position: relative; z-index: 0; background-origin: initial; background-position: center center !important; background-repeat: no-repeat; }





