{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<!-- Header-->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="/home">
                                <h3 style="color:white">LegalCyclopedia</h3>
                                <!--
                                <img src="images/logo.png" class="img-fluid logo" alt="img">
                                <img src="images/logo-white.png" class="img-fluid logo-white" alt="img">
                                -->
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://shiny.legalcyclopedia.com/reports/">Features</a>
                                    </li>
                                    <!--
                                    <li class="nav-item dropdown" href="/features">
                                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Features
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Data Visualization</a>
                                            <a class="dropdown-item" href="#">Summary Information</a>
                                            <a class="dropdown-item" href="#">Predictive Analysis</a>
                                        </div>
                                    </li>
                                    -->

                                    <li class="nav-item">
                                        <a class="nav-link" href="/pricing">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/about-us">Team</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/login">Log In/ Sign Up</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header-->
        <!-- Banner-->
        <div class="banner main-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-text">

                            <h1 class="font-weight-bold text-white mb-3">Fighting social injustice with data</h1>
                            <p class="text-white mb-4">Our goal is to assist legal professionals and financial institutions in making better decisions in court litigation and financing.</p>
                            <a class="button-banner" href="about-us.html">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-type">
                            <img class="img-fluid banner-round wow fadeIn animated bounce slower" src="{{ url_for('static',filename='images/banner/02.png') }}">
                            <div class="wow fadeInRight">
                                <img class="img-fluid banner-person" src="{{ url_for('static',filename='images/banner/03.png') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="img-fluid banner-after" src="{{ url_for('static',filename='images/banner/shap.png') }}" alt="image">
            <div class="content--canvas">
            </div>
        </div>

        <!-- Banner-->
        <!-- About us-->
        <!--<section class="how-it-works">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="images/bg/01.png" class="img-fluid wow fadeInLeft" alt="">
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h2 class="mb-3 iq-rmt-30 font-weight-bold">About Us</h2>
                        <p> Simply dummy text of the printing and typesetting industry.Been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <ul class="list-style mt-4">
                            <li><i class="fas fa-chart-pie blue-color"></i><span class="font-weight-bold text-black">It is a long established fact that a reader</span></li>
                            <li><i class="fas fa-chart-bar blue-color"></i></i><span class="font-weight-bold text-black">Printing and typesetting industry</span></li>
                            <li><i class="fas fa-chart-line blue-color"></i><span class="font-weight-bold text-black">Galley of type and scrambled</span></li>
                            <li><i class="fas fa-cogs blue-color"></i><span class="font-weight-bold text-black">Electronic typesetting</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- How It Works-->
        <!--=================================
        MAIN CONTENT -->
        <div class="main-content">
            <!-- Easy Pricing Plans-->
            <section class="easy-pricing-plans gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-box">
                                <h2 class="title font-weight-bold">Features</h2>
                                <p class="sub-title">A business intellegent platform offer both desktop and mobile access.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="easy-box text-center">
                                <h4 class="mb-3">Data Visualization</h4>
                                <img src="{{ url_for('static',filename='images/demo/01.png') }}" class="img-fluid mb-3" alt="">
                                <p>Compare the information to see if there is any disparity in the cases.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="easy-box text-center">
                                <h4 class="mb-3">Summary Information</h4>
                                <img src="{{ url_for('static',filename='images/demo/02.png') }}" class="img-fluid mb-3" alt="">
                                <p> See the lists of judges and compare their information by graphs. </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="easy-box text-center">
                                <h4 class="mb-3">Predictive Analysis</h4>
                                <img src="{{ url_for('static',filename='images/demo/03.png') }}" class="img-fluid mb-3" alt="">
                                <p>Predictive analysis based on the real data.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--=================================
        MAIN CONTENT -->
{% endblock %}