{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}
<!-- Header-->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="/home">
                                <h3 style="color:white">LegalCyclopedia</h3>
                                <!--
                                <img src="images/logo.png" class="img-fluid logo" alt="img">
                                <img src="images/logo-white.png" class="img-fluid logo-white" alt="img">
                                -->
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://shiny.legalcyclopedia.com/reports/">Features</a>
                                    </li>
                                    <!--
                                    <li class="nav-item dropdown" href="/features">
                                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Features
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Data Visualization</a>
                                            <a class="dropdown-item" href="#">Summary Information</a>
                                            <a class="dropdown-item" href="#">Predictive Analysis</a>
                                        </div>
                                    </li>
                                    -->

                                    <li class="nav-item">
                                        <a class="nav-link" href="/pricing">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/about-us">Team</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/login">Log In/ Sign Up</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header-->
        <!-- About -->
        <section class=" iq-breadcrumb3 text-left main-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-12">
                        <div class="mb-0">
                            <h1 class="text-white">Login</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <nav aria-label="breadcrumb" class="text-right">
                            <ol class="breadcrumb main-bg">
                                <li class="breadcrumb-item"><a href="/home"><i class="ion-android-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Login</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <img class="img-fluid iq-breadcrumb3-after" src="{{ url_for('static',filename='images/about/about-shap.png') }}" alt="image">
    </section>
            <!-- About End -->
            <!--=================================
    MAIN CONTENT -->
            <div class="main-content">
                <!--================================
      Login -->
                <section class="iq-login-regi">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <h2>Login</h2>
                                <p class="mt-3 mb-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <h5>You can Login With <i class="fa fa-hand-o-down" aria-hidden="true"></i></h5>
                                <ul class="iq-media mt-3">
                                    <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="tw"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="gplus"><i class="fa fa-google"></i></a></li>
                                    <li><a href="#" class="lkd"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="iq-login iq-rmt-20">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email Address</label>
                                            <input type="email" class="form-control email-bg" id="exampleInputEmail1" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control email-bg" id="exampleInputPassword1" placeholder="Password">
                                        </div>
                                        <button type="submit" class="button">Submit</button>
                                    </form>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="link">Forgot Password?</a>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="text-right">
                                                <div class="link">Don't Have an Account?</div>
                                                <div class="link"> <a href="#">Register Now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--================================
      Login -->
            </div>
            <!--=================================
    MAIN CONTENT  END-->
{% endblock %}

